/* .carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -70px;
        border: none;
        background-color: #fff;
        img {
            width: 30px;
            height: 50px;
        }
    }
    .slick-next {
        left: auto;
        right: -70px;
    }
    .slick-dots {
        width: 120px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        padding: 0;
        list-style: none;
        li button {
            font-size: 0;
            width: 16px;
            height: 16px;
            border-radius: 100%;
        }
        
        .slick-active button {
            background-color: $main-color;
            transition: all 0.4s;
        }
    }
} */
.carousel {
    padding: 81px 0;
}