.reviews {
    padding: 0 0 48px 0;
    &__subtitle {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;
    }
    &__wrapper {
        margin-top: 60px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 60px;
        &:last-child {
            margin-bottom: 0;
        }
        img {
            width: 169px;
            height: 169px;
            margin-right: 60px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #0D0D0D;
    }
    &__practice {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
    }
    &__text {
        margin-top: 10px;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        color: #0D0D0D;
    }
}